
*{
    font-family: sans-serif;
}

        #heading{
            font-size: 35px;
        width: 80%;
        margin: 50px auto;
        letter-spacing: .14em;   
        font-weight: bold;
        }

        #container{
            /* border: 2px solid black; */
            height: 1000px;
            width: 80%;
            display: flex;
            margin: 50px auto;
            justify-content: space-between;
        }

        #container div{
            /* border: 2px solid blue; */
            /* width: 50%; */
        }

        #cont1{
            width: 58%;

        }

        #cont2{
            width: 40%;

        }

        #notification{
        height: 220px;
        overflow: auto;
        padding-right: 14px;
         margin-bottom: 20px;
    }


#notify{
    margin-left: 25px;
}

li{
    margin-bottom: 16px;
    line-height: 1.3;
}


table{
    width: 100%;
}

table > tr > td:first-child{
    width: 30%;
    text-align: center;
}

table > tr > td:nth-child(2){
    width: 30%;
    margin: auto;
    padding: 10px;
    /* text-align: center; */

}


table > tr > td:nth-child(4)
{
    text-align: center;
    width: 22%;
}

table > tr > td:nth-child(3)
{
    text-align: center;
}

#pImage{
    height: 140px;
}

#cart_details{
   margin-bottom: 30px;
}

body{
    background-color: #f5f5f5;           
}

#cont1 div{
    background-color: #fff;

}

#cont2 div{
    background-color: #fff;
}

#total_price{
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#total_price > div{
    /* border: 2px solid black; */
    width: 50%;
    padding-top: 20px;
}

#total_price > div:first-child{
    text-align: left;
    margin-left: 30px;
}

#total_price > div:last-child{
    text-align: right;
    margin-right: 30px;
    font-size: 24px;
}

#sign{
    /* height: 300px; */
    display: flex;
    justify-content: space-around;
    padding-top: 18px;

    /* margin-bottom: 20px; */
}

#sign div{
    cursor: pointer;
    /* color: #6b3296; */
    font-size: 22px;
}

#sign div:hover{
    /* font-weight: bold;
    font-size: 15px; */
    /* padding: 4px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

#sign div:nth-child(1)
{
    text-decoration: underline;
}

#sign div:nth-child(2)
{
    text-decoration: underline;
}


#checkout{
    height: 250px;
    text-align: center;
    padding-top: 10px;
}

#description_box{
    /* border: 2px solid black; */
    /* height: 100px; */
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

#email,#pwd,#first,#last,#pwd1{
    width: 74%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
}

#emailAdd{
    width: 74%;
    margin: auto;
    margin-bottom: 35px;
    margin-top: 20px;
    padding: 10px;
}

#pwd{
    margin-bottom: 18px;

}

#btn{
    width: 40%;
    padding: 10px;
    background-color: #4a067d;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}


#guest{
    text-align: center;
    font-size: 24px;
    
    
}

#btn1{
    width: 50%;
    padding: 10px;
    background-color: #4a067d;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    /* margin-bottom: 20px; */
}

.email1{
    margin-bottom: 20px;
}