

/* ------------signup css------------------------ */
.login{
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(255, 255, 255, 0.918);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     /* display: none;  */
}
.cross{
    position: relative;
    top: 0%;
   left: 95%;
   cursor: pointer;

}
.main{
    height: 100%;
    width: 30%;
    background: rgba(250, 239, 239, 0.952);
    margin-top: 80px;
}
#cont{
   display: grid;
   grid-gap: 40px;
   width: 100%;
   justify-content: center;
   font-size: xx-large;
   text-align: center;
   align-content: center;
   cursor: pointer;
   margin-top: 20px;
}
#signup{
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
    color: #623380;
}
.div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}
p{
    font-size: 0.4em;
    text-align: left;
    text-decoration: underline;
   
   
}
#submit,#btt{
    background-color: #623380;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.div2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    

}
input{
    display: block;
    height: 20px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 30px;
    border: 1px solid rgb(139, 70, 139);
}