#main-div-bag{
    width: 1200px;
    background-color: #eeeeee;
    /* height: 1000px; */
    /* box-sizing: border-box; */
    margin: auto;
}
#totalPrice{
  /* float: right; */
  /* border: 1px solid red; */
  width: 40%;
  margin-left: 10%;
  font-size: xx-large;
}
#main-div-bag-left{
  width: 60%;
  margin-left: 5%;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  border: 1px solid white;
  float: left;
}
#shoping-bag{
  margin: 40px -5px;
  font-size: 25px;
  font-weight: 650;
  letter-spacing: 7px;
}
#dilvery-box{
  box-shadow: rgba(253, 253, 253, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  margin: 20px 0px;
  padding: 15px 0px;
  height: 35px;
  font-weight: 650;
  font-size: 22px;
}

#bag-right-div{
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  width: 30%;
  margin-left: 3%;
  box-sizing: border-box;
  float: left;
}
#main-div-bag-right{
  margin-left: 5%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
#gust-checkout{
  text-align: center;
}
#flag-img{
    background-image: url(https://a.cdnsbn.com/images/common/flags/india.png);
    width: 35px;
    height: 35px;
    background-size: cover;
}
#dilvery-box div{
  display: flex
}
#show-bag-item{
  display:flex;
  flex-direction: column;
}

#prodcutDiv{
    display: flex;
    gap: 30px;
    border: 2px solid white;
    height: 150px;
}
#proinfoid{
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
}
#proinfoid>div{
  padding-top: 10px;
}
#proinfoid>div:nth-child(1){
  color: black;
  font-weight: 660;
  font-size: 17px;
}
.gust-button{
  background-color: #623380;
  width: 60%;
  height: 50px;
  text-align: center;
  font-size: 17px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

 /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.login{
  width: 100%;
  /* height: 500px; */
  /* z-index: 1; */
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross{
display: none;
}
.main{
  /* height: 100%; */
  width: 90%;
  background: white;
  margin-top: 80px;
}
#cont{
 display: grid;
 /* grid-gap: 40px; */
 width: 100%;
 justify-content: center;
 font-size: xx-large;
 text-align: center;
 align-content: center;
 cursor: pointer;
 /* margin-top: 20px; */
}
#signup{
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  color: #623380;
}
.div1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
 
}
.punnetp{
  font-size: 0.6em;
  text-align: left;
  text-decoration: underline;
 
 
}
#submit,#btt{
  background-color: #623380;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.div2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: none;
}
input{
  height: 30px;
  width: 70%;
  font-size: 18px;
  margin-bottom: 30px;
  border: 1px solid rgb(139, 70, 139);
}
#userSign{
  margin-right: 20px;
}