
#mainmenu{
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin-bottom: -20px;
}

#mainmenu{
   background:  url(https://a.cdnsbn.com/images/common/2016headerbg.jpg?v=2)  center no-repeat #fff;
   /* background-size: contain; */
}
.header{
    /* position:sticky; */
}
#navbar{
    min-height: 107px;
    width: 1200px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    /* align-content: center; */
    /* background-color: black; */
    align-items: center;
}

#logo{
width: 268px;
height: 63px;
background: url(https://a.cdnsbn.com/images/common/2016CompanyLogo.png) no-repeat  center transparent;
cursor: pointer;
}

#searchBar{
    margin-left: 5%;
}

#inputSearch-Box{
    width: 450px;
    margin-left: 15px;
    height: 34px;
    display: flex;
    /* flex-direction: column; */
}
#inputSearch-Box>input{
    
    width: 85%;
    height: 34px;
    border: 2px solid black;
}
 #inputSearch-Item{
    margin-left: -33px;
    cursor: pointer;
    color: #a1a1a1;
    font-weight: bold;
    text-align: center;
}

#inputSearch-Item>ul{
    display: flex;
    list-style: none;
}
#inputSearch-Item ul li{
    padding: 0px 9px;
    border-right: 1px solid black;
} 
.searchBtn{
    border: none;
    width: 12%;
    height: 40px
}
#accountSetPage{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    text-align: center;
    margin-left: 6%;
}
.account{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 12px;
}
#account2{
    margin-right: 25px;
}
#accountSetPage-top{
    text-align: center;
}
#accountSetPage-button{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.account-icon{
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -277px -315px no-repeat;
    /* border-radius: 0; */
    padding: 33px 0 0;
    display: inline-block;
    /* vertical-align: middle; */
    margin-right: 5px;
    width: 34px;
  
  }
  .account-Singin{
      margin-bottom: 4px;
  }
 .whitelist-icon{background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -349px -315px no-repeat;
  border-radius: 0;
  /* padding: 31px 0 0; */
  width: 34px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.bag-icon{
  background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -313px -315px no-repeat;
  border-radius: 0;
  border-radius: 0;
  width: 34px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;

}


#name-menu{
    background-color: #623381;
    text-align: center;
    height: 40px;
    width: 100%;
    color: #fff;
    font-family: Lato,sans-serif;
}
#name-menu ul {
    width: 100%;
    height: 40px;
   display: inline-flex; 
   align-items: center;
   justify-content: center;
   list-style: none;
}
#name-menu ul li {
    margin-left: 30px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: 550;
    height: 100%;
}
#name-menu ul li:hover{
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}
#home{
    width: 100%;
    height: 900px;
}

                    /* footer */
#first-main-footer{
    width: 100%;
    margin-left: 18%;
    display: flex;
}
#first-main-footer-bg{
    background: url(https://a.cdnsbn.com/images/common/2016footer.jpg) center top no-repeat #702f80;
    width: 100%;
    background-size: cover;
    display: flex;
    box-sizing: border-box;
}    

#socia-mediaAnd-search{
    box-sizing: border-box;
}
#search-emailOffer{
    width: 380px

}

#inputSearch-Box{
    color: #370458
}
.stayConnected{
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
    /* padding-bottom: 50px; */
}
.stayConnected+input{
    margin-top: 50px;
    width: 280px;
    height: 55px;
}
.stayConnected+input+button{
    height: 55px;
    width: 70px;
}
#sociaMedia-icon{
    margin-top: 30px;
}
.fa-brands {
    height: 90px;
    width: 40px;
}

#middle-top-footer{
   display: flex;
   align-items: center;
   width: 330px;
   margin-left: 20px;
}
#middle-top-footer-img-bg{
    width: 75px;
    height: 95px;
    /* margin-top: 15px; */
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -89px -381px no-repeat;
    /* left: 20px; */
    /* position: absolute; */
}
#middle-top-footer-img-side-content{
    font-size: 20px;
    margin-left: 18px;
    color: #fff;
}
.over{
    font-size: 25px;
}
.number{
    font-size: 30px;
}
#right-top-footer{
    width: 350px;
   display: flex;
   align-items: center;
}
#right-top-footer-img{
    width: 84px;
   height: 91px;
  background: url('https://a.cdnsbn.com/images/English/shippingicon_1.png') -10px -5px no-repeat;
}
#right-top-footer-img-side-content{
    width: 170px;
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
  line-height: 30px;
}
.conditionsApply{
    width: 170px;
    font-size: 20px;
    margin-top: 25px;
}

#second-main-footer{
    background-color: #52246d;
    width: 100%;
    height: 430px;
}

#footer-little-menu{
    /* width: 90%; */
 padding-top: 20px;
 display: flex;
 justify-content: space-around;
 color: #fff;
 font-size: 19px;
 margin-right: 40px;
}
#footer-little-menu-left ul {
    list-style: none;
    display: flex;
}
#footer-little-menu-left ul li{
    padding-right: 50px;
    border-right: 2px solid #fff;
    padding-left: 20px;
}
#paytem-Img{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3,70px);
    grid-template-rows: repeat(4,50px);
}
#footer-middile-menu{
    margin-top: 40px;
    display: flex;
    color: #fff;
    /* justify-content: center; */
    margin-left: 18%;
}
#footer-middile-menu ul{
    list-style: none;
}
#footer-middile-menu ul li{
    margin-top: 10px;
    width: 100px;
}
#myAccount{
    margin-left: 60px;
}
.ourCompany{
    margin-left: 60px;
}
.app{
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -133px -595px;
    width: 100px;
    height: 50px;
}
.playStore{
    background: url(https://a.cdnsbn.com/images/common/2016CommonSprite.png) -235px -597px;
    width: 100px;
    height: 45px;
}
.ratedExcellent-Img-1{
    display: flex;
    margin-top: 10px;
}
.ratedExcellent-Img-1>div{
    margin-left: 15px;
}
.pink{
    border-color: #ee2c72;
border-width: 3px;
width: 83%;
margin: auto;
}
#terms-and-condition{
    width: 80%;
    margin: auto
}
.terms{
    margin-top: 10px;
    width: 570px;
    color: white;
}
.rated{
    font-size: 17px;
    margin-left: 10px;
}

  /* sub Menu */

  #submenu-1{
      display: flex;
      width: 500px;
      height: 600px;
      border: 2px solid red;
      display: none;
  }
 

  #cont {
    height: 40px;
    width: 100%;
    background-color: #623381;
}

#secpar {
    width: 1200px;
    height: 100%;
    background-color: #623381;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#secpar>div {
    width: auto;
    height: 100%;
    font-size: 12px;
    padding: 10px;
    padding-bottom: 2px;
    color: white;
    font-weight: bold;
    display: flex;
    margin-top: -7px;
    align-items: center;
}

#secpar>div:hover {
    background-color: white;
    color: #623381;
}

#star {
    font-size: 20px;
}
.totalBag-item{
    position: relative;
    top: -15px;
    left: -48px;
    height: 20px;
    width: 20px;
    background-color: #FE7202;
    /* padding-right: 5px; */
    /* padding-left: 5px; */
    /* padding: 5px; */
    border-radius: 50%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}